/* Button with separator */
.button-separator{
    position: relative;
}
.button-separator::after{
    content: '';
    width: 1px;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

/* 



*/
.enter,
label,
.dropdown,
.all-unit,
.all-unit>.card,
.all-unit1,
.entry-block,
.block-registrations,
.dropdown1 {
    background-color: #F4F6F9;
}


.Personal {
    height: 30px;
    font-size: 28px;
    color: #DEA033;
}

.enter-the-number {
    width: 256px;
    font-size: 20px;
    line-height: 27px;
    text-align: center;
    /* margin-left: 18px; */
    /* margin-right: auto; */
}

.dropdown-list{
    max-width: 30%;
    height: 44px;
}


.phone-number {
    /* width: 360px; */
    height: 44px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: none;
    border-radius: 4px;
}

input {
    padding-left: 10px;
}


.Password {
    max-width: 500px;
    height: 50px;
    border-radius: 6px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: none;
    display: block;
}

select {
    max-width: 100%;
    width: 123px;
    height: 44px;
    margin-right: 17px;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: none;
    border-radius: 4px;
}


/* Buttons: отправка данных и введение кода */

.button-enter, .button-to-send {
    max-width: 250px;
    width: 100%;
    height: 40px;
    background-color: #DEA033;
    border-radius: 10px;
    color: #FFFFFF;
}

.button-enter{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
}

.InputPassword1 {
    margin-top: 17px;
    margin-bottom: 16px;
}

.remember {
    height: 30px;
    text-align: center;
    font-size: 20px;
}

.tick {
    width: 12.5px;
    height: 12.5px;
    margin-left: 11px;
    margin-right: 14px;

}

.remember-tick {
    height: 50px;
    border: 1px solid #000000;
    /* transform: rotate(90deg);  */
}

.remem-tick {
    margin-top: 8px;
}

.entry-block {
    margin-top: 118px;
}

.all-unit,
.all-unit1 {
    margin-top: 72px;
}


.Forget-account {
    text-align: center;
}

.No-account {
    margin-bottom: 77px;
}

/*  */
/*  */
/*  */
/* регистрация */
/*  */
/*  */
/*  */

.register {
    margin-top: 26px;
    margin-bottom: 26px;
}

/*  */
/*  */
/*  */
/* Код */
.row--wrap-self{
    flex-wrap: nowrap;
}

/*  */
/*  */
/*  */
/* Забыли пароль ввод номера телефона */

.all-unit1 {
    margin-bottom: 218px;
}

.dropdown2 {
    margin-top: 123px;
    margin-bottom: 132px;
    background-color: #F4F6F9;
}

.password-recovery {
    max-width: 100%;
    text-align: center;
}

/* новый пароль  */

.enter-the-password {
    margin-bottom: 31px;
}



/* 

    Private Office styles

*/

.office-title {
    font-size: 28px;
    line-height: calc(38 / 28);
}

.office-avatar-edit {
    font-family: 'SF Pro Display';
    font-size: 20px;
    line-height: calc(24 / 20);
}

@media(max-width: 992px){
    .col--number-third{
        display: none;
    }
}