.descr{
    margin-top: 27px;
    margin-bottom: 41px;
    max-width: 100%;
    text-align: center;
}

.description-below{
    height: 33px;
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;
}

.descriptiona{
    color: #DEA033;
    font-family: 'Open Sans', sans-serif;
    height: 33px;
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;
}

.letter{
    position: relative;
    bottom: 3px;
    font-size: 24px;
    color: black;
}

/*  */
.applications{
    max-width: 560px;
    width: 100%;
}

.mx-width-250{
    max-width: 250px;
}