/* bootstrap fixed */
.card {
    max-height: inherit;
    border: none !important;
    border-radius: 0 !important;
}

.card-img {
    max-height: inherit;
}

/* myself styles */
.desktop-content-table {
    max-height: 156px;
    height: 100%;
    margin: 0 -20px;
    border-top: 3px solid #FFFFFF;
    bottom: -1.25rem;
}

.desktop-content-table__item:nth-child(2) {
    border-left: 3px solid #FFFFFF;
    border-right: 3px solid #FFFFFF;
}

.desktop-col__number {
    font-weight: bold;
    font-size: 54px;
    line-height: 74px;
    color: #DEA033;
}

.desktop-col__text {
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
}

/* ---------
    Services
 -----------*/
.pv-27px {
    padding: 27px 0;
}

.services-block {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.services__item {
    max-width: 292px;
    width: 100%;
    height: 280px;
    padding: 49px 33px 66px;
    margin: 87px 0;
    background: #FFFFFF;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.services-block__description {
    /* font-family: 'San Francisco'; */
    text-align: center;
    font-weight: 500;
    font-size: 20px;
    line-height: calc(24/20);
}

/*  */