.header {
    background-color: #FFFFFF;
    -webkit-box-shadow: 0px 10px 4px rgba(0, 0, 0, 0.25);
       -moz-box-shadow: 0px 10px 4px rgba(0, 0, 0, 0.25);
            box-shadow: 0px 10px 4px rgba(0, 0, 0, 0.25);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
}

.header-navbar {
    position: relative;
}

/* Header right */
.header-logo {
    max-width: 170px;
    height: auto;
}

.header-nav {
    max-width: 628px;
}

.header-nav-link {
    font-size: 14px;
    line-height: 19px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

@media(min-width: 992px) {
    #navbar {
        max-height: 165px !important;
    }
}

/* ------
    Header right
----- */
.header-right {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-flex: 0;
    -webkit-flex-grow: 0;
       -moz-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
}

.header__tel {
    padding: 0 10px;
    font-size: 14px;
    line-height: 19px;
    color: #DEA033;
}

.header-btn {
    font-size: 13px;
    line-height: 18px;
    color: #FFFFFF;
    background-color: #DEA033;
    border: 1px solid transparent;
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
    -webkit-filter: drop-shadow(0px 0px 8px #DEA033);
            filter: drop-shadow(0px 0px 8px #DEA033);
}

.header-btn:hover,
.header-btn:active,
.header-btn:focus {
    color: #FFFFFF !important;
}