footer *{
    color: white;
}

.footer-background {
    padding: 74px 0;
    background: url("../Image/footer/footer-background.jpg") center no-repeat;
    background-size: cover;
}

.footer-size{
    max-height: 580px;
    height: 100%;
}

.btn-warning {
    border-radius: 15px;
}

.ml-27{
    max-width: 145px;
    margin-left: 50px;
    text-align: right;
    font-size: 14px;
}

.mb-35{
    max-height: 100%;
}

.footer-nav__right{
    max-width: 251px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer-nav__right-description{
    font-size: 11px;
    line-height: 14px;
    font-weight: 400;
    color: #C4C4C4;
    width: 250px;
}

/* соц. иконки */

.social-icons{
    margin-Bottom: 85px;
}

.fa-youtube{
    width: 30px; 
    height: 30px;
}

.fa-facebook{
    margin-Left: 68px;
    width: 30px; 
    height: 30px;
}

.fa-instagram{
    margin-left: 68px;
    width: 30px;
    height: 30px;
}

/* создани компания */

.company{
    width: 146px;
    height: 44px;
    text-align: right; 
}

/* левый угол footer */

.footers-info{
    width: 280px;
    height: 34px;
    color: #C4C4C4;
    margin-left: 8px;
}

.Gray{
    margin-top: 30px;
    color: #C4C4C4;
    margin-left: 8px;
}

