@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');

/* regular */
@font-face {
    font-family: 'San Francisco';
    src: url('./Fonts/SF_Display/SF_Display-Regular/SFProDisplay-Regular.eot');
    src: url('./Fonts/SF_Display/SF_Display-Regular/SFProDisplay-Regular.woff2') format('woff2'),
        url('./Fonts/SF_Display/SF_Display-Regular/SFProDisplay-Regular.woff') format('woff'),
        url('./Fonts/SF_Display/SF_Display-Regular/SFProDisplay-Regular.ttf') format('truetype'),
        url('./Fonts/SF_Display/SF_Display-Regular/SFProDisplay-Regular.svg') format('svg');
    font-weight: 400;
    font-style: normal;
}

/* medium */
@font-face {
    font-family: 'San Francisco';
    /* src: url('./Fonts/SF_Display/SF_Display-Medium/SFProDisplay-Medium.eot'); */
    src: url('./Fonts/SF_Display/SF_Display-Medium/SFProDisplay-Medium.woff2') format('woff2'),
        url('./Fonts/SF_Display/SF_Display-Medium/SFProDisplay-Medium.woff') format('woff'),
        url('./Fonts/SF_Display/SF_Display-Medium/SFProDisplay-Medium.ttf') format('truetype');
        /* url('./Fonts/SF_Display/SF_Display-Medium/SFProDisplay-Medium.svg') format('svg'); */
    font-weight: 500;
    font-style: normal;
}

/* semibold */
@font-face {
    font-family: 'San Francisco';
    src: url('./Fonts/SF_Display/SF_Display-Semibold/SFProDisplay-Semibold.woff') format('woff2'),
        url('./Fonts/SF_Display/SF_Display-Semibold/SFProDisplay-Semibold.woff') format('woff'),
        url('./Fonts/SF_Display/SF_Display-Semibold/SFProDisplay-Semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

/* bold */
@font-face {
    font-family: 'San Francisco';
    src: url('./Fonts/SF_Display/SF_Display-Bold/SFProDisplay-Bold.woff2') format('woff2'),
        url('./Fonts/SF_Display/SF_Display-Bold/SFProDisplay-Bold.woff') format('woff'),
        url('./Fonts/SF_Display/SF_Display-Bold/SFProDisplay-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}


* {
    font-family: 'Open Sans', 'San Francisco', sans-serif !important;
    font-weight: normal;
    font-style: normal;
}

html{
    overflow-x: hidden;
    overflow-y: auto;
}

body {
    width: 100vw;
    margin: 0;
    /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif; */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

main {
    /* padding-top: 95px; */
    /* padding-top: 102px; */
    padding-top: 120px;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

:root {
    --moderate-yellow: #DEA033;
}

/* ----------
    fixed bootstrap
----------*/
.card-img {
    height: 100%;
}

.breadcrumb {
    background-color: transparent !important;
}

.badge{
    background-color: var(--moderate-yellow);
}

.card {
    background-color: transparent;
}

.btn-primary,
.btn-warning {
    color: #FFFFFF !important;
    -webkit-filter: drop-shadow(0px 0px 8px #DEA033);
    filter: drop-shadow(0px 0px 8px #DEA033);
    background-color: var(--moderate-yellow) !important;
    border-color: var(--moderate-yellow) !important;
}

.btn-primary:hover,
.btn-warning:hover,
.btn-primary:focus,
.btn-warning:focus {
    background-color: #e0a800 !important;
    border-color: #d39e00 !important;

}

.btn-primary:focus,
.btn-warning:focus {
    -webkit-box-shadow: 0 0 0 0.2rem rgba(222, 170, 12, .5) !important;
       -moz-box-shadow: 0 0 0 0.2rem rgba(222, 170, 12, .5) !important;
            box-shadow: 0 0 0 0.2rem rgba(222, 170, 12, .5) !important;
}

.text-muted{
    color: #6C7A92;
}

.img-thumbnail{
    /* background-color: #303841 !important;
    border: 1px solid #36404a !important; */
    background-color: transparent !important;
    border: 1px solid transparent !important;
}
/*
.desktop-content-title {
    font-size: 37px !important;
    line-height: 50px !important;
    text-transform: uppercase;
    display: flex;
    align-items: baseline;
}

.desktop-content-title span {
    all: inherit;
    font-size: 18px !important;
    line-height: 25px !important;
}

label {
    cursor: default;
}

/* .description-text {
    font-size: 1.5vw;
    line-height: 27px;
    text-shadow: 0px 3px 4px rgba(0, 0, 0, 0.25);
} */

/*

size

*/
.h-100vh {
    min-height: 100vh;
    max-height: 100vh;
}

.h-100vh-content {
    min-height: -webkit-calc(100vh - 120px);
    min-height: -moz-calc(100vh - 120px);
    min-height: calc(100vh - 120px);
    height: -webkit-calc(100vh - 120px);
    height: -moz-calc(100vh - 120px);
    height: calc(100vh - 120px);
}

.min-content {
    width: -webkit-min-content !important;
    width: -moz-min-content !important;
    width: min-content !important;
}

.max-content{
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
}

.height-inherit{
    height: inherit
}

.img-xs {
    max-width: none;
    width: 38px;
    height: 38px;
}

.avatar-sm{
    width: 3rem;
    height: 3rem;
}

/* color text */
.black{
    color: #000000 !important;
}
.orange {
    color: #FB8902;
}

.satin-sheen-gold {
    color: #dea033;
}

.light-grey {
    color: #C4C4C4;
}

/* Weight font */
.medium-font {
    font-weight: 500;
}

.semibold-font {
    font-weight: 600;
}

/* placeholder center */
.placeholder-center::-webkit-input-placeholder {
    text-align: center;
}

.placeholder-center::-moz-placeholder {
    text-align: center;
}

.placeholder-center:-ms-input-placeholder {
    text-align: center;
}

.placeholder-center::-ms-input-placeholder {
    text-align: center;
}

.placeholder-center:-moz-placeholder {
    text-align: center;
}

.placeholder-center::placeholder {
    text-align: center;
}

/* titles */
.content__title--color-satingold {
    padding-top: 2rem;
    margin-bottom: 2rem !important;
    font-weight: 600;
    font-size: 28px;
    line-height: -webkit-calc(38/28);
    line-height: -moz-calc(38/28);
    line-height: calc(38/28);
    color: #dea033;
}

/* ------
    background
----- */
.background--color-blackhaze {
    background-color: #F7F7F7 !important;
}

.background--color-light-blackhaze {
    background-color: #F4F6F9 !important;
}

/* -----
    position
------ */
.t-40,
.t-50 {
    top: 40%;
    -webkit-transform: translateY(-50%);
       -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
         -o-transform: translateY(-50%);
            transform: translateY(-50%);
}

.t-50 {
    top: 50%;
}

.content-link {
    font-size: 12px !important;
    line-height: 16px !important;
    color: #FFFFFF;
}

/* ----Link in Card for Desktop and Services---- */
.services__item-link {
    font-weight: 600;
    font-size: 17px;
    line-height: 23px;
    text-transform: uppercase;
    -webkit-text-decoration-line: underline;
    -moz-text-decoration-line: underline;
         text-decoration-line: underline;
    color: #DEA033;
}

/*

    Forms in Private office

*/

/* select option[value="+7"]::after { */
/* background: url(./Image/PersonalAreaContent/rus-flag.svg) no-repeat 25% 50%; */
/* content: '/1F1F7';
    position: absolute;
    top: 0;
    left: 0; */
/* } */

/* select option[value="+380"] {
    background: url(./Image/PersonalAreaContent/ua-flag.svg) no-repeat 25% 50%;
} */